<div class="fill">
    <div class="row" style="margin-top:40px;">
      <div class="col-1"></div>
      <div class="col-10">
        <p>Anything you'd like to add? Thoughts / ideas / etc..</p>
        <textarea rows="7" name="comments" id="comments" style="width: 100%"></textarea>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row icons">
        <div class="col-12 text-center display-1" (click)="answer()">
          <fa-icon [icon]="faHandPointRight"></fa-icon>
          <div style="font-size: 12px; margin-top:-30px">Continue</div>
        </div>
      </div>
    
    </div>
  