<div class="fill">
  <div class="row" style="margin-top:20px;">
    <div class="col-12 text-center">
      <h3 style="text-shadow: 1px 1px 7px rgb(247, 243, 12);">
        Welcome to democracy! <br />
      </h3>
      <h2 style="text-shadow: 0 0 3px black;">
        ⚖️👨‍⚖️
      </h2>
    </div>
  </div>
  <div class="row" style="margin-top:15px;">
    <div class="col-1"></div>
    <div class="col-10">
      <p>
        The following survey will help us construct an agenda & content (if
        needed), for our upcoming meetup. <br />
      </p>
      <p>
        It was planned to be short & simple.
      </p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row icons">
    <div class="col-12 text-center display-1" (click)="begin()">
      <fa-icon [icon]="faHandPointRight"></fa-icon>
      <div style="font-size: 12px; margin-top:-30px">Begin</div>
    </div>
  </div>
</div>
