<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="content">
  <div class="header">
    <div id="title">
      <img alt="freeCodeCamp" src="assets/freecodecamp.jpeg" />
      Melbourne
    </div>
  </div>
  <div class="container content">
    <div class="css-carousel">
      <!-- carousel controls -->
      <input
        type="radio"
        name="carousel"
        (change)="onChange($event)"
        id="carousel-1"
      />
      <input
        type="radio"
        name="carousel"
        (change)="onChange($event)"
        id="carousel-2"
      />
      <input
        type="radio"
        name="carousel"
        (change)="onChange($event)"
        id="carousel-3"
      />
      <input
        type="radio"
        name="carousel"
        (change)="onChange($event)"
        id="carousel-4"
      />
      <input
        type="radio"
        name="carousel"
        (change)="onChange($event)"
        id="carousel-5"
      />
      <input
        type="radio"
        name="carousel"
        (change)="onChange($event)"
        id="carousel-6"
      />

      <!-- carousel navigation -->
      <div class="carousel-nav">
        <label for="carousel-1"></label>
        <label for="carousel-2"></label>
        <label for="carousel-3"></label>
        <label for="carousel-4"></label>
        <label for="carousel-5"></label>
        <label for="carousel-6"></label>
      </div>

      <!-- carousel slides -->
      <div class="carousel-slides">
        <div class="carousel-inner">
          <div class="carousel-item">
            <app-intro></app-intro>
          </div>
          <div class="carousel-item">
            <app-q1></app-q1>
          </div>
          <div class="carousel-item">
            <app-q2></app-q2>
          </div>
          <div class="carousel-item">
            <app-q3></app-q3>
          </div>
          <div class="carousel-item">
              <app-q4></app-q4>
            </div>
          <div class="carousel-item">
              <app-outro></app-outro>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
